.nav{
    width: 40vw;
    align-content: center;
    z-index: 100;
}
.ulNav{
    list-style: none;
    display: flex;
    flex-direction: row;
}
.liNav{
    margin:10px 10px 5px 10px;
    padding: 0px;
    transition: all 2s ease;
    border-radius: 5px;
    height: 25px;
}
.liNav:hover{
    background-color: black;
}
.linksNav{
    color: black;
    text-decoration: none;
    padding: 10px;
}
.linksNav:hover{
    color: #B958A5;
}
.nav ul li {
    position:relative;
    float:left;
    margin:0;
    padding:0;
  }
  

  .nav ul ul {
    display:none;
    list-style: none;
    position:absolute;
    top:100%;
    left:0;
    padding: 2px;;
  }
  
  .nav ul ul li {
    float:none;
    width:100px;
    padding: 2px;
    background-color: #B958A5;
    border-radius: 3px;
  }
  
  
  .nav ul li:hover > ul {
    display:block;
  }